<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.fragment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.TaskLocationSignActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TaskScanSignActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.TaskListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.TaskHourSignActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>